body {
  font-family: "Poppins", sans-serif;
  background: #faf6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #7b3fc8;
  margin-bottom: 5px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

form {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 450px;
}

label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 95%;
  height: 140px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  background-color: #7b3fc8;
  color: white;
  transition: background 0.3s;
}

button:hover {
  background-color: #5f28a6;
}

.result-list {
  margin-top: 25px;
  width: 100%;
  max-width: 500px;
}

.result-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-item span {
  font-weight: 500;
  color: #333;
}

.result-item button {
  background: #00a884;
  padding: 8px 14px;
  font-size: 14px;
}

.result-item button:hover {
  background: #008d6e;
}

footer {
  margin-top: 40px;
  font-size: 13px;
  color: #888;
}
